<div class="content container-fluid">

    <div class="page-header">
        <div class="content-page-header">
            <h5>Customer Details</h5>
        </div>
    </div>

    <div class="card customer-details-group">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-img d-inline-flex">
                                <img class="rounded-circle"
                                   src="~/assets/img/profiles/avatar-17.jpg"
                                src="~/assets/img/profiles/avatar-14.jpg"
                                alt="">
                            </span>
                            <div class="customer-details-cont">
                                <h6>John Smith</h6>
                                <p>Cl-12345</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-icon d-inline-flex">
                                <i class="fe fe-mail"></i>
                            </span>
                            <div class="customer-details-cont">
                                <h6>Email Address</h6>
                                <p><a href="https://kanakku.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d7bdb8bfb997b2afb6baa7bbb2f9b4b8ba">[email&nbsp;protected]</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-icon d-inline-flex">
                                <i class="fe fe-phone"></i>
                            </span>
                            <div class="customer-details-cont">
                                <h6>Phone Number</h6>
                                <p>585-785-4840</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-icon d-inline-flex">
                                <i class="fe fe-airplay"></i>
                            </span>
                            <div class="customer-details-cont">
                                <h6>Company Name</h6>
                                <p>Kanakku Corporation</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-icon d-inline-flex">
                                <i class="fe fe-globe"></i>
                            </span>
                            <div class="customer-details-cont">
                                <h6>Website</h6>
                                <p class="customer-mail">www.example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="customer-details">
                        <div class="d-flex align-items-center">
                            <span class="customer-widget-icon d-inline-flex">
                                <i class="fe fe-briefcase"></i>
                            </span>
                            <div class="customer-details-cont">
                                <h6>Company Address</h6>
                                <p>4712 Cherry Ridge Drive Rochester, NY 14620.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="filter_inputs" class="card filter-card">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-info-light">
                            <img src="~/assets/img/icons/receipt-item.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Invoice</div>
                            <div class="dash-counts">
                                <p>$298</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">02</span></p>
                        <p class="inovice-trending text-success-light">02 <span class="ms-2"><i class="fe fe-trending-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="~/assets/img/icons/transaction-minus.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Outstanding</div>
                            <div class="dash-counts">
                                <p>$325,215</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">03</span></p>
                        <p class="inovice-trending text-success-light">04 <span class="ms-2"><i class="fe fe-trending-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-warning-light">
                            <img src="~/assets/img/icons/archive-book.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Total Overdue</div>
                            <div class="dash-counts">
                                <p>$7825</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">01</span></p>
                        <p class="inovice-trending text-danger-light">03 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-primary-light">
                            <img src="~/assets/img/icons/clipboard-close.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Cancelled</div>
                            <div class="dash-counts">
                                <p>100</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">04</span></p>
                        <p class="inovice-trending text-danger-light">05 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-green-light">
                            <img src="~/assets/img/icons/message-edit.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Draft</div>
                            <div class="dash-counts">
                                <p>$125,586</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">06</span></p>
                        <p class="inovice-trending text-danger-light">02 <span class="ms-2"><i class="fe fe-trending-down"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
            <div class="card inovices-card w-100">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <span class="inovices-widget-icon bg-danger-light">
                            <img src="~/assets/img/icons/3d-rotate.svg" alt="">
                        </span>
                        <div class="dash-count">
                            <div class="dash-title">Recurring</div>
                            <div class="dash-counts">
                                <p>$86,892</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="inovices-all">No of Invoice <span class="rounded-circle bg-light-gray">03</span></p>
                        <p class="inovice-trending text-success-light">02 <span class="ms-2"><i class="fe fe-trending-up"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <table class="table table-stripped table-hover datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead class="thead-light">
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="



            Invoice No
            : activate to sort column descending" style="width: 136.969px;">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>Invoice No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 96.2344px;">Category</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Created On: activate to sort column ascending" style="width: 110.125px;">Created On</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Total Amount: activate to sort column ascending" style="width: 117.5px;">Total Amount</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Paid Amount: activate to sort column ascending" style="width: 115.516px;">Paid Amount</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Payment Mode: activate to sort column ascending" style="width: 134.422px;">Payment Mode</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Balance: activate to sort column ascending" style="width: 78.7031px;">Balance</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Due Date: activate to sort column ascending" style="width: 110.125px;">Due Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 136.609px;">Status</th>
                                        <th class="text-end sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 63.7969px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>






                                    <tr role="row" class="odd">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4987</a>
                                        </td>
                                        <td>Food</td>
                                        <td>23 Mar 2023</td>
                                        <td>$1,54,220</td>
                                        <td>$1,50,000</td>
                                        <td>Cash</td>
                                        <td>$2,54,00</td>
                                        <td>25 Mar 2023</td>
                                        <td><span class="badge bg-success-light">Paid</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4988</a>
                                        </td>
                                        <td>Advertising</td>
                                        <td>16 Mar 2022</td>
                                        <td>$3,54,220</td>
                                        <td>$2,50,000</td>
                                        <td>Cheque</td>
                                        <td>$4,220</td>
                                        <td>16 Jan 2023</td>
                                        <td><span class="badge bg-warning-light text-warning">Overdue</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4989</a>
                                        </td>
                                        <td>Marketing</td>
                                        <td>25 Feb 2023</td>
                                        <td>$1,54,220</td>
                                        <td>$1,50,000</td>
                                        <td>Cash</td>
                                        <td>$4,220</td>
                                        <td>16 Jan 2023</td>
                                        <td><span class="badge bg-danger-light text-danger">Cancelled</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4990</a>
                                        </td>
                                        <td>Repairs</td>
                                        <td>25 Mar 2022</td>
                                        <td>$1,54,220</td>
                                        <td>$1,50,000</td>
                                        <td>Cash</td>
                                        <td>$4,220</td>
                                        <td>12 May 2023</td>
                                        <td><span class="badge bg-primary-light">Partially Paid</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4991</a>
                                        </td>
                                        <td>Software</td>
                                        <td>12 May 2022</td>
                                        <td>$5,54,220</td>
                                        <td>$3,50,000</td>
                                        <td>Cheque</td>
                                        <td>$4,220</td>
                                        <td>18 May 2023</td>
                                        <td><span class="badge bg-light-gray text-secondary">Unpaid</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">
                                            <label class="custom_check">
                                                <input type="checkbox" name="invoice">
                                                <span class="checkmark"></span>
                                            </label>
                                            <a href="invoice-details.html" class="invoice-link">#4992</a>
                                        </td>
                                        <td>Stationary</td>
                                        <td>16 Nov 2022</td>
                                        <td>$5,54,220</td>
                                        <td>$6,50,000</td>
                                        <td>Cash</td>
                                        <td>$4,220</td>
                                        <td>25 Feb 2023</td>
                                        <td><span class="badge bg-light-gray text-primary">Draft</span></td>
                                        <td>
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="edit-customer.html"><i class="far fa-edit me-2"></i>Edit</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="customer-details.html"><i class="far fa-eye me-2"></i>View</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-send me-2"></i>Send</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-download me-2"></i>Download</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="add-credit-notes.html"><i class="fe fe-file-text me-2"></i>Convert to Sales Return</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href=""><i class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><div class="dataTables_length" id="DataTables_Table_0_length"><label><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link"><i class="fa fa-angle-double-left me-2"></i> Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next <i class=" fa fa-angle-double-right ms-2"></i></a></li></ul></div><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 6 of 6 entries</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal custom-modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Customer Details</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>