@using ui.Models.Routes;
@model ErrorModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>

</head>
<body>
    <div class="error-container">
        <h1 class="error-heading">Error</h1>
        <h2 class="error-message">An error occurred while processing your request.</h2>


        @if (Model!=null)
        {
            @if (Model.ShowRequestId)
            {
                <p class="request-id">
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            @if (Model.ErrorMessages.Any())
            {
                <ul>
                    @foreach (var item in Model.ErrorMessages)
                    {
                        <li>@item</li>
                    }
                </ul>
            }
        }

       

        <h3 class="error-description">Development Mode</h3>
        <p class="error-description">
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p class="error-description">
            <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
            It can result in displaying sensitive information from exceptions to end users.
            For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
            and restarting the app.
        </p>
    </div>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            text-align: center;
        }

        .error-container {
            background-color: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 50px;
        }

        .error-heading {
            color: #dc3545;
            font-size: 36px;
        }

        .error-message {
            color: #dc3545;
            font-size: 24px;
        }

        .request-id {
            color: #333;
            font-size: 18px;
        }

        .error-description {
            color: #333;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>

</body>
</html>
